body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
/*HEADER CONTAİNER*/
.header-container {
  display: none;
}

/* Menü Konteyneri */
.menu-container {
  width: 375px;
  height: 812px;
  background-color: #576f35; /* Yeşil renk tonu */
  margin: auto;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Kapatma Butonu */
.menu-header {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cross {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
/* Menü Öğeleri */
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.menu-item {
  background-color: #fff;
  color: #7a3145;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}
.menu-button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #fff;
  color: #000;
}
/* "Shop Now" Butonu */
.shop-now {
  position: absolute;
  bottom: 20px;
}
.shop-now-btn {
  background-color: #8b1e3f; /* Koyu kırmızı */
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.shop-now-btn:hover {
  background-color: #5c132a;
}
