* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  background-color: #576f35;
  padding: 0px;
  margin: 0px;
}
.header-container {
  position: relative;
  height: 32px;
  width: 100%;
}

.header-place {
  width: 335px;
  height: 32px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  gap: 135px;
}

#three-svg {
  margin-top: -10px;
  margin-right: 20px;
}

.svg {
  gap: 135px;
}

#svg-cross {
  width: 32px;
  height: 32px;
  margin-top: 20px;
  margin-left: 323px;
  margin-right: 20px;
  margin-bottom: 244px;
}

.header-mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 812px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
  z-index: 999;
  visibility: hidden;
}

.header-mobile-menu button {
  width: 118px;
  height: 44px;
  border: 1px solid #fbfbfb;
  background-color: #576f35;
  color: #fbfbfb;
  border-radius: 12px;
}

.header-three-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

#first-btn {
  background-color: #fbfbfb;
  color: #7a3145;
}

.header-one-btn button {
  width: 175px;
  height: 52px;
  background-color: #7a3145;
  color: #fbfbfb;
  margin-top: 232px;
  margin-bottom: 52px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  border: none;
}

.is-open {
  visibility: visible;
}

@media (min-width: 768px) and (max-width: 1020px) {
  body {
    height: 100%;
    background-color: #576f35;
    padding: 0px;
    margin: 0px;
  }

  .header-container {
    width: 100%;
    position: relative;
  }

  .header-place {
    width: 704px;
    height: 40px;
    margin-top: 32px;
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 448px;
    z-index: 2;
  }

  .svg {
    width: 216px;
    height: 20px;
  }

  .header-mobile-menu {
    padding: 0px;
    margin: 0px;
    width: 351px;
    height: 1020px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 999;
    visibility: visible;
    margin-left: 417px;
  }

  #svg-cross {
    width: 40px;
    height: 40px;
  }

  .header-three-btn button {
    width: 118px;
    height: 44px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .header-one-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
}
